
<%- include layout_head.ejs%>

<div class="hero-unit">
    <h1>Welcome</h1>
    <p>Microblog is a websystem based on Node.js</p>
    <p>
        <a class="btn btn-primary btn-large" href="/login">登录</a>
        <a class="btn btn-large" href="/reg">注册</a>
    </p>
</div>

<div class="row">
    <div class="span4">
        <h2>Carbo ssy</h2>
        <p>洞房花烛夜 金榜题名时</p>
    </div>
    <div class="span4">
        <h2>Byvoid say</h2>
        <p>【名・他动词・サ变/三类】 表示，表达，表明。
            名・他动词・サ变/三类
            1. 表示，表达，表明。（外部にはっきりとあらわし示すこと；表にして示すこと）。例句
            汽車の時刻を表示する。
            表示火车（发、到的）时刻。
            意志を表示する。
            表明态度。
        </p>
    </div>
    <div class="span4">
        <h2>Sys say</h2>
        <p>私たちはしばらくの時間以来、南海の問題自体の発展を見ることができます。南海本無ことが、
            個々の名士域外国の下で、いくつかの本来の相違を効果的に管理されてから突き出て。で色々な後、
            本地域の国が最終的に認めた自身の根本的利益になるかどうかは、合意に復帰地区の認識が、
            合意によって堅持して「複線考え方」を適切に処理して南シナ海問題、つまりは、直接関係当事国の
            話し合いによって協議と平紛争を解決するため、中国とアセアン国家が共同で守る南海地区の平和と安定
            の。この精神に基づいて、今年ななしち月の中国？アセアンの外相会議で発表した「全面有効実行
            「南シナ海方面の行動宣言」の共同声明」が、今年はきゅう、く月中国？アセアンの首脳会議の成果を通じて
            全面的完整実行ファイル承諾を効果的に「南シナ海方面の行動宣言」し、合意の上で実質的な推進早く達成
            「南海行為準則」。これらすべて南シナ海の国家の共同の意思を反映して、南シナ海の問題の解決にも解決する。
        </p>
    </div>

</div>

<%- include layout_footer.ejs %>